@font-face {
    font-family: 'Arial Regular';
    src: url('../fonts/Arial.eot');
    src: url('../fonts/Arial.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial.woff') format('woff'),
        url('../fonts/Arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Regular';
    src: url('../fonts/Oswald-Regular.eot');
    src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Regular.woff') format('woff'),
        url('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}