:root {
    --primary-white-color: #FFFFFF;
    --primary-title-color: #000000;
    --primary-text-color: #444444;
    --accent-color: #68B738;
    --hover-color: #87c263;
    --light-grey-color: #D9D9D9;
}