.example {
    padding: 27px 20px 25px 20px;
    background-color: #EAEAEA;
}

.example__section-title {
    margin-bottom: 33px;
}

.example__desc {
    font-family: 'Arial';
    font-size: 14px;
    line-height: 1.29;
    color: var(--primary-text-color);
}