.hero__wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 22px;
    text-align: center;
}

.hero__bg-img-wrapper {
    padding-top: 27px;
    padding-bottom: 3px;
    height: 305px;
    background-image: url('../images/hero/mob/hero-mob.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__title {
    margin-bottom:25px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    // text-align: center;
    color: var(--primary-white-color);
}

.hero__subtitle {
    margin-bottom: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.hero__image {
    margin-left: auto;
    margin-right: auto;
}

.hero__button {
    margin-top: 135px;
    padding: 8px 44px;
    width: 280px;
    height: 40px;
    border: none;

    background-color: var(--accent-color);
    color: var(--primary-white-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;

    cursor: pointer;

    &:hover,
    &:focus {
        background-color: var(--hover-color);
    }
}